<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--SQLite: if you don't specify any connection string, it is taken by Paths class
    SQLiteInMemory
    SQLServer-->
    <add key="DatabaseType" value="SQLServer" />
    <!--Server=PC\\SQLExpress;Database=FeaturesAuto;Trusted_Connection=True;-->
    <add key="ConnectionString" value="Data Source=PC\SQLEXPRESS;Database=FeaturesAuto;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add key="RelativePathToCurrentDirectory" value="\..\..\..\..\..\..\.." />
    <add key="AutoCloseOnFinish" value="true" />
    <add key="RunTestsAfterXmlGeneration" value="true" />
    <add key="OriginalXmlDirectory" value="\..\..\..\..\..\..\..\DatabaseFiles Original" />
    <add key="GeneratedXmlDirectory" value="\..\..\..\..\..\..\..\Utilities\FeatureManagerDB\DatabaseFiles" />
  </appSettings>
</configuration>
